In [ ]:
%pip install pymysql | grep -v 'already satisfied'
%pip install -U -q PyDrive

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import exc

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

import requests
import pymysql
from io import StringIO

import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
# auth current session user & get google drive access
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
# https://drive.google.com/file/d/1ZIJbDVNpQZxKN7Cx2gyfFGf5bw5DQ-EG/view
fileDownloaded = drive.CreateFile({'id':'1UcsKyCtYvcC1BzEPiLW8zWyPQtNnD7j4'})
fileDownloaded.GetContentFile('for sale listings data.csv')

In [ ]:
# read file to dataframe
df = pd.read_csv('for sale listings data.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN', error_bad_lines=False, parse_dates=['createdAt', 'datePosted'])

In [ ]:
# remove state ON, NS & remove null zip codes & remove zip code not matching msa & cbsa
df = df[(df['state'] != 'ON') & (df['state'] != 'NS') & (df['zipcode'].isnull() == False) & (df['zipcode'] != '31193') & (df['zipcode'] != '29486')]

In [ ]:
#separate price table
df_price = df[['zpid', 'zipcode', 'price', 'createdAt']]

In [ ]:
# only keep necessary columns
df = df[['zpid', 'streetAddress', 'city', 'state', 'county', 'zipcode', 'homeType', 'SqFt', 'bedrooms', 'bathrooms', 'parkingTotalSpaces', 'Stories', 'yearBuilt', 'seniorLiving', 'elemntarySchoolRating', 'middleSchoolRating', 'highSchoolRating', 'createdAt']]

In [ ]:
# null in seniorliving would be 0
df['seniorLiving'][df['seniorLiving'].isnull() == True] = 0

In [ ]:
# keep the latest listing only in the main table
df['latest_listing'] = df.groupby('zpid')['createdAt'].rank(method='first', ascending=False)

In [ ]:
# remove old listings
df = df[df['latest_listing'] == 1]

In [ ]:
# keep original homeType values
df['homeType_CD'] = df['homeType']

In [ ]:
# number hometype into single family = 0, condo = 1, townhouse = 2
df['homeType'][df['homeType'] == 'SINGLE_FAMILY'] = 0
df['homeType'][df['homeType'] == 'CONDO'] = 1
df['homeType'][df['homeType'] == 'TOWNHOUSE'] = 2

In [ ]:
# datatype float64
df['homeType'] = df['homeType'].astype(dtype='float64')

In [ ]:
# remove unnecessary columns
df = df.drop(['latest_listing', 'createdAt'], axis=1)

In [ ]:
# import second listing table with price
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
df_price.to_sql('listing_price', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
# Connection
def data_read(query):
      conn = pymysql.connect(host=key.host, user=key.user,
                                              password=key.password, port=key.port, database=key.database
                                              )
      df = pd.read_sql(query, conn)
      conn.close()
      return df

In [ ]:
# import msa, cbsa
msa = data_read("select * from msa;")
cbsa = data_read("select * from cbsa;")

In [ ]:
# merge into listing
listing = df.merge(msa[['zipcode', 'msa', 'msa_name']], "left", on="zipcode")

In [ ]:
# merge into listing
listing = listing.merge(cbsa[['zipcode', 'cbsa']], "left", on="zipcode")

In [ ]:
listing.head(5)

In [ ]:
# import main listing table to db; 
engine = create_engine(conn, echo=True)
listing.to_sql('listing', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
msa = data_read("select msa, count(msa) from listing group by msa order by count(msa) desc;")

In [ ]:
cbsa = data_read("select cbsa, count(cbsa) from listing group by cbsa order by count(cbsa) desc;")

In [ ]:
msa = data_read("select msa, concat(city, ', ', state) as city_state, count(*) as count from listing group by msa, concat(city, ', ', state) order by msa, concat(city, ', ', state);")
cbsa = data_read("select cbsa, concat(city, ', ', state) as city_state, count(*) as count from listing group by cbsa, concat(city, ', ', state) order by cbsa, concat(city, ', ', state);")

In [ ]:
import plotly.express as px
import plotly
from google.colab import drive

drive.mount('/content/gdrive')

In [ ]:
px.bar(msa, x='msa', y='count', color='city_state')

In [ ]:
px.bar(cbsa, x='cbsa', y='count', color='city_state')

In [ ]:
## Full Census Data - TRANSFORMED ALL YEARS
# https://drive.google.com/file/d/1UH8j8FFkQAVx7f0BXJWkhILi0_lViguc/view?usp=sharing
fileDownloaded = drive.CreateFile({'id':'1UH8j8FFkQAVx7f0BXJWkhILi0_lViguc'})
fileDownloaded.GetContentFile('full_census_enriched.csv')

census_final = pd.read_csv('full_census_enriched.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
census_final.to_sql('census_final', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
## Full Census Data - TRANSFORMED 2020 ONLY
# https://drive.google.com/file/d/1MK4pXlmSbzS1yF61QE5tb7w9o8AESJir/view?usp=sharing
fileDownloaded = drive.CreateFile({'id':'1MK4pXlmSbzS1yF61QE5tb7w9o8AESJir'})
fileDownloaded.GetContentFile('full_census_enriched_2020.csv')

census_final_2020 = pd.read_csv('full_census_enriched_2020.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
census_final_2020.to_sql('census_final_2020', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
## Yelp - TRANSFORMED
# https://drive.google.com/file/d/1VVD2UwMqVW18VoETK1zh5TSDB8sY_0bv/view?usp=sharing
fileDownloaded = drive.CreateFile({'id':'1VVD2UwMqVW18VoETK1zh5TSDB8sY_0bv'})
fileDownloaded.GetContentFile('yelp_enriched.csv')

yelp_enriched = pd.read_csv('yelp_enriched.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
yelp_enriched.to_sql('yelp_enriched', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
## Accessibility - TRANSFORMED
# https://drive.google.com/file/d/1ufuVj8U1yfKZrj7qDyjvfwYODF4VshVK/view?usp=sharing
fileDownloaded = drive.CreateFile({'id':'1ufuVj8U1yfKZrj7qDyjvfwYODF4VshVK'})
fileDownloaded.GetContentFile('accessibility_enriched.csv')

accessibility_enriched = pd.read_csv('accessibility_enriched.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
accessibility_enriched.to_sql('accessibility_enriched', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
## ZIPCODE LEVEL LISTING DATA

# https://drive.google.com/file/d/1337tGOdZ_OPyEpRGJvY31P9GO-uc4jx_/view?usp=sharing
fileDownloaded = drive.CreateFile({'id':'1337tGOdZ_OPyEpRGJvY31P9GO-uc4jx_'})
fileDownloaded.GetContentFile('zipcode_level_listing_detail.csv')

zipcode_level_listing_detail = pd.read_csv('zipcode_level_listing_detail.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
zipcode_level_listing_detail.to_sql('zipcode_level_listing_detail', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
## FINAL MASTER LISTINGS TABLE

# https://drive.google.com/file/d/1ZZkyb2ZvK_g7N9NzFM3lYsnCRxHDWJq3/view?usp=sharing
fileDownloaded = drive.CreateFile({'id':'1ZZkyb2ZvK_g7N9NzFM3lYsnCRxHDWJq3'})
fileDownloaded.GetContentFile('listings_enriched_model.csv')

listings_enriched_final = pd.read_csv('listings_enriched_model.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
listings_enriched_final.to_sql('listings_enriched_final', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
## PREDICTED OUTPUT - TEST

# https://drive.google.com/file/d/1r6adDErpZGBgjpiiXuBocteMrSB4YlIz/view?usp=sharing
fileDownloaded = drive.CreateFile({'id':'1r6adDErpZGBgjpiiXuBocteMrSB4YlIz'})
fileDownloaded.GetContentFile('output_test.csv')

output_test = pd.read_csv('output_test.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
output_test.to_sql('output_test', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
## PREDICTED OUTPUT - Vertical

# https://drive.google.com/file/d/10AfLXq6UNtDtDJIlxa5rD8bANzVIwOei/view?usp=share_link
fileDownloaded = drive.CreateFile({'id':'10AfLXq6UNtDtDJIlxa5rD8bANzVIwOei'})
fileDownloaded.GetContentFile('output_vertical.csv')

output_vertical = pd.read_csv('output_vertical.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
output_vertical.to_sql('output_vertical', con=engine, if_exists='replace', index = False, chunksize = 10000)

In [ ]:
## PREDICTED OUTPUT - Horizontal

# https://drive.google.com/file/d/1UdbeEWkHKm929vRejRRBJ9wmtUDvOtmN/view?usp=share_link
fileDownloaded = drive.CreateFile({'id':'1UdbeEWkHKm929vRejRRBJ9wmtUDvOtmN'})
fileDownloaded.GetContentFile('output_horizontal.csv')

output_horizontal = pd.read_csv('output_horizontal.csv', delimiter=',', encoding='utf-8', low_memory=False, na_values='NaN')

# import to db
engine = create_engine("mysql+pymysql://admin:cse6242110@cse6242.czj7hqwhnoml.us-east-1.rds.amazonaws.com/realestate", echo=True)
output_horizontal.to_sql('output_horizontal', con=engine, if_exists='replace', index = False, chunksize = 10000)